/* ROOT */
:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    --line: 1px solid var(--color-grey-light-2); }

/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
}

html {
    background: url(img/haslam.main.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.header a {
    text-decoration: none;
}

.menu-options {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-options li a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--color-grey-dark-1);
}

.menu-options li a:hover {
    background-color: #ccc7d3;
}

/* SECTIONS */
.wrapper {
    display: flex;
    justify-content: center;
}

.hero-home {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-banner {
    display: flex;
    flex-direction: column;
}


/* BUTTONS */



/* LOGO */
.logo {
    height: 3.25rem;
}
/* SEARCH */
.search-form {
    /* background-color: orangered; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.input {
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all .2s;
    margin-right: -2rem;
    background-color: var(--color-grey-light-2);
}

input:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3);
}

.search-button {
    border: none;
    background-color: var(--color-grey-light-2);
}

.search-button:focus {
    outline: none;
}

.search-button:active {
    transform: translateY(2px);
}

.search-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--color-grey-dark-3);
}